<launch>

  <!-- Set path variables -->
  <arg name="settings" default="$(find orb_slam2)../../../Examples/Monocular/Raspicam.yaml"/>
  <arg name="vocabulary" default="$(find orb_slam2)../../../Vocabulary/ORBvoc.txt"/>

  <!-- ORB_SLAM2 Mono -->
  <node pkg="orb_slam2" type="mono" name="mono" output="screen" args="$(arg vocabulary) $(arg settings)">
    <param name="~image_transport" value="compressed"/>
  </node>

</launch>
